footer
{
  display: flex;
  width: 100%;
  background: #224f5f;
  flex-direction: column;
  align-items: flex-start;
  height: 260px;
  font-family: 'Open Sans';
  
}
#main{
  display: flex;
  flex-direction: row;
  

  width: 988px;
  margin:0 150px 0 150px;
  justify-content: center;
}


#copyright /*стиль к элементу с id copyright где находится текст*/
{
  color: #ffffff;
  width: 100%;
  
  
}

#copyright p {
  
  font-weight: 400;
  text-align: center;
  font-size: 12px;
}

#block1
{
  margin:  50px 0px;
  padding: 0px 50px; 
  color: #ffffff;
  border-right: #fff solid 1px;
  
}

#block1 p {
 
  text-align: center;
  font-size: 16px;

  
}


#block2
{
  margin:  50px 0px;
  padding: 0px 100px; 
  color: #fff;
  border-right: #fff solid 1px;
  
}

#block2a
{
  color: #1c83a6;
  padding-top: 15px;
  font-size: 24px;
  
}


#block2 p {
  
  text-align: center;
  font-size: 16px;
}


#block3
{
  margin:  50px 0px;
  padding: 0px 50px; 
  color: #ffffff;
  

}

#block3 p {
  
  text-align: center;
  font-size: 16px;
}