* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1288px;
  min-height: 100vh;
  margin: 0 auto;
}

main {
  flex: 1;
}



main {
  font-family: "Open Sans", Arial, sans-serif; /* Устанавливаем нужный шрифт на всю страницу, принято указывать три вида: 
  подключаемый желаемый шрифт; любой шрифт, взамен первому, если он не загрузился/отсутствует; 
  типовой шрифт, который 100% есть на пк пользователя - monospace, cursive, fantasy */
  flex: 1;
}

/* --- Верхний блок --- */

.top-block {
  width: 1280px;  /* Задаем фиксированную ширину и высоту блока */
  height: 159px;

  background-image: url("../img/Register/members.png");  /* Делаем изображение фоном, используем относительный путь */
}

.top-block h2 {
  position: absolute; /* Выводим заголовок из потока */
  z-index: 1;         /* Индекс 1, что бы заголовок отображался сверху других эелементов */

  margin: 40px 0 0 240px; /* Выравниваем заголовок по центру margin: верх|право|низ|лево */

  font-style: italic;       /* Стиль текста курсив */
  font-weight: 700;         /* Жирность текста, нормальный текст 400, жирный 700 */
  font-size: 38pt;          /* Размер текста, можно указывать в разным единицах, к примеру в px или em */
  color: rgba(34, 79, 95, 255); /* Цвет текста RGBA color: rgba(красный 1-255, зеленый 1-255, синий 1-255, прозрачность 0-1)*/
}

.top-block:after {  /* :after -  псевдоэлемент для бело-прозрачной поверхности фона, 
  в виде прозрачного блока накладываемого на поверхность родительского */
  content: "";      /* Наличие обязательно, без контента не работает */
  position: relative; /* Относительная позиция */

  display: block;     /* Делаем стиль отображения элемента блочным */
  width: 1280px;
  height: 159px;

  background-color: rgba(255, 255, 255, 0.5);
}

/* --- Нижний блок --- */

.bottom-block {
  display: flex;  /* Делаем стиль отображения элемента растягиваемым */
  width: 1280px;
  height: 759px;

  background-image: url("../img/Register/background.png");
}

/* --- Левая половина нижнего блока --- */

.bb-left-block {          /* Левый блок */
  display: flex;
  flex-direction: column; /* Задаем стиль отображение элементов колонками */
  align-items: flex-end;  /* Прижимаем элементы к правому краю родительского элемента */
  min-width: 569px;       /* Устанавливаем минимальную ширину блока, иначе блок будет сжиматься до ширины содержимого */
}

.bb-left-block img {      /* Изображение с планетой */
  margin-top: 66px;

  box-shadow: 0 0 5px;    /* Делаем тень для изображения box-shadow: сдвиг по х|сдвиг по у|радиус размытия  */
}

.bb-left-block div {      /* Прозрачный блок со списком */
  display: inline-block;  /* Делаем стиль отображения элемента строчно-блочным */
  width: 344px;
  height: 378px;
  margin-top: 15px;       /* Отступ от верхнего края элемента до следующего элемента */

  background-color: rgba(230, 230, 230, 0.6);
}

.bb-left-block h1 {       /* Заголовок списка */
  margin: 30px 0 0 30px;  /* Отступы от левого и верхнего края элемента */

  font-weight: 700;
  font-size: 32pt;
  color: rgba(11, 67, 102, 255);
}

.bb-left-block ul {       /* Неотсортированный список - unordered list, список с маркерами, не цифрами */
  width: 270px;
  height: 144px;
  margin: 20px 0 0 30px;  /* Отступы от левого края  и от верхнего */

  list-style: none;       /* Убираем маркеры, т.к. их нельзя отдельно форматировать (только менять цвет и форму), 
  а нам нужен 3д-эффект */
  font-style: italic;
  font-weight: 800;
  font-size: 13pt;
  color: white;
  text-transform: uppercase;  /* Приводим все символы текста в верхнему регистру */
  text-shadow: rgba(11, 67, 102, 255) 2px 0 1px,  
  rgba(11, 67, 102, 255) -2px 0 1px,
  rgba(11, 67, 102, 255) 0 1px 1px,
  rgba(11, 67, 102, 255) 0 -2px 1px;  /* Делаем 3д-текст с помощью набора теней 
  text-shadow: сдвиг по x|сдвиг по y|радиус размытия|цвет - каждая строка делаем отдельную тень, 
  вместе они образуем подобие 3д эффекта*/
}

.bb-left-block ul li {  /* Пункты списка */
  line-height: 32px;    /* Увеличиваем отступы между строками текста, не путать с отступами мужде элементами списка li */
}

.bb-left-block ul li:before {     /* Создаем свои маркеры взамен удаленных используя псевдоэлемент :before */
  content: "•"; /* Маркер */

  padding-right: 10px; /* Отступ от маркера до текста */

  color: white; /* Цвет маркера */
}

/* --- Правая половина нижнего блока --- */

.transparent-block {  /* Прозрачный блок с формой */
  width: 561px;
  height: 592px;
  margin-top: 66px;       /* Отступ от верхнего края до родительского блока */
  padding: 25px 0 0 30px; /* Устанавливаем края для контента (параграф + форма) */

  background-color: rgba(200, 200, 200, 0.3);
}

.transparent-block p {  /* Заголовок формы */
  font-weight: 700;
  font-size: 18pt;
  color: rgba(49, 53, 58, 255);
}

.first-name,    /* Первые два поля ввода */
.last-name {
  width: 243px;
  height: 35px;
}

.first-name {         
  margin-right: 14px; /* Отступ между первым и вторым полем ввода */
}

form {
  margin-top: 38px; /* Отступ от форма до параграфа p */
}

input::placeholder {  /* В input есть атрибут placeholder, который отбражает в поле ввода пояснение. 
  Таким способом можно его форматировать */
  padding-left: 10px; /* Отступ от правого края содержимого до границы элемента input */

  font-size: 11pt;
}

label {               /* Заголовки полей ввода */
  display: block;     /* Способ отображения блочный - элемент занимает всю ширину родительского блока, 
  любой другой элемент начинается со следующей строки */
  margin-bottom: 5px; /* Отступ от верхнего края label до верхней границы элемента input, заголовки над input */

  font-size: 13pt;
  color: rgba(64, 71, 74, 255);
}

input {           /* Поля ввода */
  width: 504px;
  height: 35px;
  margin-bottom: 23px;

  border: 1px solid gray;   /* Задаем границы полей ввода */
  border-radius: 5px;         /* Закругляем края, там где есть границы, без границ не работает */
}

.button {         /* Кнопка регистрации */
  width: 228px;
  height: 45px;
  margin-top: -6px;
  margin-left: 138px;

  font-weight: 700;
  font-size: 12pt;
  color: rgba(89, 93, 98, 255);
  text-transform: uppercase;

  background-color: lightblue;
  border-radius: 20px;
}

.button:hover {   /* :hover - псевдокласс, отвечает за то, что будет происходить при наведение курсора на элемент */
  background-color: aquamarine;     /* При наведении курсора изменяем цвет кнопки */
}
