/* --- Base structrure --- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1288px;
  min-height: 100vh;
  margin: 0 auto;
}

main {
  flex: 1;
}


/* --- v1 --- */
/* Блок HEADER , состоит из 3-х блоков */
header.var1 {
  font-family: "Open Sans";
  width: 100%;
  height: 104px;
  display: flex;  
  justify-content: flex-start;
  background: #082838;
}

header.var1  a:hover {
  text-shadow:0px 0px 5px red, 0px 0px 10px red;
  color: #73cdeb;
}

.selected {
  color: #53c1d1;
}

.selected:hover {
  color: #ffffff !important;
  text-shadow:0px 0px 5px #0261f0, 0px 0px 10px #0261f0;
}

/* Первый блок в header */
.link-dream-team {
  width: 231px;
  height: 101px;
  background: #d8d9da;
  justify-self: flex-start;
  margin-left: 151px;
}

.link-dream-team:hover {
  background: #ffffff;
  text-shadow: 0px 5px 10px #53c1d1;
}

.link-dream-team a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.link-dream-team a div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-dream-team h2 {
  font-family: OpenSans-ExtraBold, "Open Sans";
  font-size: 19pt;
  font-weight: 800;
  color: #1c8aae;
  text-align: center;
  letter-spacing: 2px;
  margin: 10px 0;
}

.link-dream-team p {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 12pt;
  color: #082838;
  text-align: center;
  padding-bottom: 20px;
}

/* Второй блок в header */
nav {
  justify-content: stretch;
  align-self: center;
  flex-grow: 2;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  letter-spacing: -2px;
 
}

nav ul li:first-child {
  margin-left: 20px;
}

nav ul li a {
  font-size: 16pt;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}

/* Третий блок в header */
.social-links {
  width: 166px;
  height: 42px;
  margin: 4px 18px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #b3b3b3;
}

.social-links a {
 margin: 0 8px;
}

.social-links a:hover {
  transform: scale(1.5, 1.5);
  transition: transform 0.5s ease-out;
}
.fab {
  color: #ffffff;
}



/* --- v2 --- */
.v2 {
	display: flex;
	width: 1290px;
	height: 608px;
	background: url(/DreamTeamProject/static/img/MainPage/matrix.jpg) no-repeat;
}

.center-sidebar {
	display:flex;
	opacity:1;
	height: 608px;
	width: 390px;
	background-color: rgba(255, 255, 255, 0.3);
	margin-left: 151px;	
}
.center-h{
	padding: 70px 20px;
  font-size: 28px;
  font-family: "Open Sans";
  color: rgba(255, 255, 255, 255);
  text-align: left;
  font-weight: 800;

}
.ref-p {
  padding: 11px 5px;
color: rgba(255, 255, 255, 255);
font-size: 20px;
text-align: left;
font-weight: 'bold';
font-family: "Open Sans";
}

.reference-block p {
	display:flex;
	height: 46px;
	width: 165px;
	background-color:#1c8aae;
	position: relative;
	margin-left: -368px;
	margin-top: 492px;
	/*justify-content: center;*/
	align-items: center;
}

/* --- v3 --- */

.row1,
.row2 {
  display: flex;
  justify-content: center;
  width: 1288px;

  background: #e9e9e0;
}

.row1 img {
  position: relative;
  z-index: 2;

  display: block;
  width: 391px;
  height: 448px;

  box-shadow: 0 0 15px black;
} 

.row1 div {
  position: relative;
  z-index: 3;

  width: 596px;
  height: 448px;

  background: #f0f0f0;
}

.row1 div h3 {
  display: block;
  margin-top: 44px;
  margin-left: 135px;

  font-weight: 700;
  font-size: 16pt;
  font-family: "Open Sans";
  color: rgba(61, 97, 127, 255);
}

.row1 div p {
  width: 385px;
  height: 93px;
  margin-top: 33px;
  margin-left: 135px;

  font-weight: 600;
  font-size: 14pt;
  font-family: "Open Sans";
  color: rgba(110, 200, 213, 255);
}

.row1 div a {
  display: block;
  margin-top: 183px;
  margin-left: 325px;

  font-weight: 600;
  font-size: 15pt;
  font-family: "Open Sans";
  color: #adc742;
  text-decoration: none;
}

.row2 .blog {
  position: relative;
  z-index: 0;

  width: 153px;
  height: 150px;
  margin-left: 98px;

  font-style: italic;
  font-weight: 800;
  font-size: 20pt;
  line-height: 147px;
  font-family: "Open Sans";
  text-align: center;
  color: white;
  letter-spacing: 3px;

  background: #f2cd69;
}

.row2 span {
  display: inline-block;
  margin-top: 2px;
  margin-left: 7px;
}

.row2 div + div {
  width: 456px;
  height: 260px;

  color: white;

  background: #268fb1;
}

.row2 div h3 {
  display: block;
  display: block;
  margin-top: 27px;
  margin-left: 68px;

  font-weight: 700;
  font-size: 16pt;
  font-family: "Open Sans";
}

.row2 div p {
  width: 330px;
  height: 93px;
  margin-top: 22px;
  margin-left: 67px;

  font-weight: 400;
  font-size: 13pt;
  line-height: 25px;
  font-family: "Open Sans";
}

.row2 div a {
  display: block;
  margin-top: 36px;
  margin-left: 280px;

  font-weight: 600;
  font-size: 14pt;
  font-family: "Open Sans";
  color: rgba(243, 204, 99, 255);
  text-decoration: none;
  letter-spacing: 1px;
}

/* --- v4 --- */
.v4 {
  display: flex;
  background: #e9e9e0;
  flex-direction: column;
  
  align-items: flex-start;
  margin-right: 125px;
  width: 1288px;
}
.C3 {
  
 display: flex;
  
}
.bigblock {   
  background: #ff87c5;
  width: 748px;
  height: 470px;
  margin-left: 136px;    
  box-shadow: 0 0 15px black;
}
.CCC {

  display: flex;
  flex-direction: row;
  margin-left: 265px;
}
.C1 {
 
  display: flex;
  flex-direction: column; 
  align-items: flex-end;  
  
 

  flex-grow: 2;
  
       
}
.greenblock {
  background: #268fb1;
  text-align: center;
 
  text-transform: uppercase;
  padding-top: 12%;
  color: azure;
  float: right;
  width: 148px;
  height: 147px;
  margin-left: 0.5px; 
  
}
.smallblock {
  background: #ff87c5;
  margin-top: 21px;
  margin-right: 5px;
  width: 467px;
height: 560px;
  justify-content: right;
  background-size: 100%;
  box-shadow: 0 0 15px black;
 }
.C2 {
  flex: 4;
  display: flex;
  align-items: flex-start;
  flex-grow: 2;
}

.grayblock {
  display: flex;
  justify-content: left;
  background: #ded78c;
  flex-wrap: wrap;
  width:384px;
  height: 287px;
  margin-right: 3px;
  padding-left: 44px;
  padding-right: 43px;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #655050;
 

}
h3, p {
  font-family: Open Sans;
  
  font-size: 18px;


}
p{
  padding-top: 0%;
  text-align: justify;
  
}
h3 {
  font-size: 22px;
  font-style: italic;
}

.Usltext {
  color: #41637f;
}
.Usltext2 {
  color: #3d617f;
  text-align: right;
  padding-left: 125px; 
  padding-top: 10px; 
}

/* --- v5 --- */



